*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    background-color: #ADD8E6;
    padding: 25px 0px;

}

.flexcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0px auto;
    background-color: #DAA520;
}

.col{
    width: calc(100% / 3);
    border: 2px dashed black;
    padding: 10px;

}

.flexcontainer :nth-child(2){
    width: calc(100% / 1.5);
    text-align: center;
}

.col ul{
 list-style: none;


}

.col ul li{
    text-align: center;
    display: inline-block;
}

.footer-first{
    margin-top: 50px;
    padding: 25px 0px;
    width: 100%;
    background-color: darkblue;
}

.pink{
    width: 800px;
    height: 400px   ;
    background-color: pink;

}

.container{
    width: 1000px;
    margin: 0 auto;
    padding: 50px;

}
.row{
    display: flex;

}
.row div{
    border: 2px dashed black;
}
.big{
    width: calc(100% / 1.5);
    height: 400px;
    background-color: #1E90FF;
}


.small{
    width: calc(100% / 3);
    background-color: pink;
}

.graybg{
    background-color: #D3D3D3;

}

.greenbig{
    width: 1000px;
    height: 700px;
    background-color: #228B22;

}

footer{
padding: 10px;
background-color: #23272A;

}

.col-2,
.col-4{
    height: 500px;
    border: 2px dashed black;


}
hr{
    margin: 10px auto;
    border: 1px solid white;
}

.col-2{
    width: calc(100% / 3);
    background-color: #F08080;
}

.col-4{
    width: calc(100% / 1.5);
    background-color: #20B2AA;
    display: flex;
    

}
footer .container{
    display: flex;

}

.whiteb{
    border: 2px white dashed;

}